<div class="login-container">
  <div class="login-left">
    <h2>Hello! 👋</h2>
    <p>How do I get started?</p>
    <div class="pb-3">
      <button class="btn btn-secondary mx-3">
        <img
          src="assets/images/Gmail_icon_(2020).webp"
          width="55"
          height="30"
          alt=""
          class="px-2"
        />
        Sign in with Gmail
      </button>
      <button class="btn btn-apple">
        <img
          src="assets/images/apple.png"
          width="45"
          height="30"
          alt=""
          class="px-2"
        />
        Sign in with Apple
      </button>
    </div>
    <p>
      <a href="www.google.com"> or Login with Email </a>
    </p>
    @if(isLoginView){
    <form>
      <h3 class="text-center">Login</h3>
      <label for="email">Email</label>
      <input
        type="email"
        [(ngModel)]="userLogin.emailId"
        id="email"
        name="emailId"
        placeholder="test@atheros.ai"
      />
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="******"
        [(ngModel)]="userLogin.password"
      />
      <button type="submit" (click)="onLogin()" class="btn btn-signin">Sign In</button>
    </form>
    <p>
      Don't Have an account?
      <a href="#" (click)="isLoginView = false">Register Now</a>
    </p>
    } @else {
    <form>
      <h3 class="text-center">Register</h3>
      <label for="email">UserName</label>
      <input
        [(ngModel)]="userRegisterObj.userName"
        type="text"
        id="user"
        name="UserName"
        placeholder="user123"
      />

      <label for="email">Email</label>
      <input
        [(ngModel)]="userRegisterObj.emailId"
        type="email"
        id="email"
        name="emailId"
        placeholder="test@atheros.ai"
      />
      <label for="password">Password</label>
      <input
        [(ngModel)]="userRegisterObj.password"
        type="password"
        id="password"
        name="password"
        placeholder="******"
      />
      <button type="submit" class="btn btn-signin" (click)="onRegister()">
        Register Now
      </button>
    </form>
    <p>
      Have an account? <a href="#" (click)="isLoginView = true">Login Now</a>
    </p>
    }
  </div>
  <div class="login-right pt-5 d-flex align-items-start">
    <div class="login-info pt-5">
      <h3>Buy or Sell Marketplace</h3>
      <div class="btn-holder">
        <!--- checkbox --->
        <p>Choose the way you want</p>
        <div class="toggle-switch">
          <label for="cb-switch">
            <input type="checkbox" id="cb-switch" value="" />
            <span>
              <small></small>
            </span>
          </label>
        </div>
      </div>
      <p class="text-white">
        By logging in, you can access your personal dashboard, <br>g where you can
        manage your account, view your profile, and much more.
      </p>
      <!-- <img
        class="rounded shadow"
        src="assets/images/signin-banner.jpg"
        alt="Dashboard example"
      /> -->
    </div>
  </div>
</div>
